* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: rgba(10, 10, 10, 0.1)
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 335px;
    padding: 15px 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.18);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px
}

.display {
    position: relative;
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
    padding: 0 10% 0 4%;
}

.display #result {
    font-size: 2em
}

.main-display {
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: rgba(0, 0, 0, .05);
}

.history-display {
    width: 78%;
    height: 100%;
    border-radius: 8px;
}

.buttons {
    margin-top: 20px;
    width: 100%
}

.view-history {
    width: 100%;
    display: block;
    position: relative;
    top: 10px;
}

.view-history button {
    float: right;
    background: rgb(251, 200, 80);
}
.buttons button {
    margin: 0 10px;
    background: none;
}

.view-history button,
.buttons button {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3em;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1)
}

.buttons button:hover {
    background: rgba(0, 0, 0, 0.2)
}

#equalTo {
    width: 125px;
    background: #58D68D
}

#clear {
    background: #FF8A65
}

.dark_mode_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    outline: none
}

.dark_mode_active {
    background: #1c1c25
}

.dark_mode_active button {
    color: #ddd
}

.dark_mode_active #clear,
#equalTo {
    color: #000
}

.dark_mode_active #result {
    color: #ddd
}

.dark_mode_active #history {
    color: #ddd
}

.dark_mode_active .view-history i {
    color: black;
}

.dark_mode_active .main-display {
    border: 1px solid rgba(255, 255, 255, .15);
    background-color: rgba(255, 255, 255, .15);
}

#history {
    position: absolute;
}
